node_modules/
build/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Android / Gradle / Build Tools
.gradle/
android/.gradle/
android/app/build/
android/build/
build-tools/
platform-tools/
cmdline-tools/
emulator/
licenses/
system-images/
local.properties
*.lock
*.bin
caches/
outputs/
*.apk
gradle.zip
